#mainWrapper {
	background: white;
	width: 80%;
	border: 1px solid #e1e8ed;
	border-radius: 6px;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	margin: 0 auto;
}
#header{
	width: 100%;
	display: inline-block;
}
#header h2{
	margin: 0 auto;
}
#tweets {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tweets li {
	border-bottom: 1px solid #e1e8ed;
	height: 50px;
	padding: 5px 0;
}
#tweets li .image {
	display: inline-block;
	float: left;
}
.date{
	display: none;
}
.user-info {
	display: inline-block;
width: 100%;
}
h1 {
	color: rgb(41, 47, 51);
	cursor: auto;
	display: inline;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: auto;
	float: left;
}
h2 {
	color: rgb(136, 153, 166);
	cursor: auto;
	direction: ltr;
	display: inline;
	font-family: Arial, sans-serif;
	font-size: 13px;
	height: auto;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	unicode-bidi: embed;
	width: auto;
	float: left;
}
.tweetText {
	display: inline-block;
}
body {
	background: url('../images/background.png') top center no-repeat;
	font-family: Arial,sans-serif;
}
.module {
	background-clip: padding-box;
	border: 0;
	border-radius: 6px;
	line-height: 16px;
	position: relative;
	margin-bottom: 10px;
}
#options {
	background-color: #E5F2F7;
	border-radius: 5px;
	padding: 10px 15px 6px 15px;
	width: 500px;
	color: #292f33;
	position: fixed;
	left: 50%;
	z-index: 5;
	top: 45px;
	margin-left: -250px;
	box-shadow: 0px 0px 8px #888888;
}
#options input {
	border: 1px solid #99CDE1;
	margin: 0 -6px 10px -8px;
	padding: 4px 7px;
	width: 100%;
	border-radius: 4px;
}
#options label {
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 14px;
}
/* ------------------------ */
.optionsWrapper {
  display: block;
  float: right;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
.optionsWrapper .options,
.optionsWrapper .fullscreen {
  float: right;
  margin: 1%;
}
.optionsWrapper .options img,
.optionsWrapper .fullscreen img {
  height: 2rem;
  opacity: 0;
  -webkit-transition: all .5s ease;
}
.optionsWrapper:hover .options img,
.optionsWrapper:hover .fullscreen img {
  opacity: .5;
}
.optionsWrapper:hover .options:hover img,
.optionsWrapper:hover .fullscreen:hover img {
  opacity: 1;
}

.close {
	position: absolute;
	right: 15px;
	cursor: pointer;
}
.close:before {
	content: "\f045";
}
.modal-background{
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
}