<div id="options">
    <span class="close"></span>
    <div class="inputWrapper">
        <label for="full-name" class="t1-label field-name">Event Hashtag</label>
        <input type="text" id="hashtag" placeholder="globantParty" value="{{hashtag}}" />
    </div>

    <div class="inputWrapper">
        <label>Show Tweets With</label>
        <input type="text" id="query" placeholder="globant OR party globantParty" value="{{query}}" />
    </div>

    <div class="inputWrapper">
        <label>Hide Tweets Containing</label>
        <input type="text" id="hide" placeholder="boring ugly hungry" value="{{filterWords}}" />
    </div>

    <div class="inputWrapper">
        <label>Update Interval</label>
        <input type="text" id="updateInterval" placeholder="in milliseconds" value="{{updateInterval}}" />
    </div>

    <button><a href="#" id="saveBtn">Save</a></button>
</div>

<div class="modal-background">asd</div>